.noDisplay,
.info,
#buttonDiv,
#clear,
#noDisplay,
.podaciDiv,
.tabelaDiv,
.napomeneDiv,
.slikeDiv,
.napZaTabelu,
#print{
    display:none;
}

.aktivPrint{
    display:block
}

header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.logo{
    left: 0;
}

.infoShift{
    margin-top: .8em;
}

.tablaEks{
    display: block;
    page-break-inside: avoid;
    position: absolute;
    top: 73em;
}

.legenda{
    position: absolute;
    width: 10em;
    top: 95em;
    left:0em;
}

.potpis{
    position: absolute;
    top: 115em;
}

.listaNapomena{
    position: absolute;
    top: 125em;
}

.listaSlika{
    position: absolute;
    top: 187em;
}

.images{
    margin-top: 6em;
    display: block;
    page-break-inside: avoid;

}

.picNote{
    margin-bottom: 12em;
}

#table1, #table2, .betweenTable{
    margin-bottom: 0em;   
}

