* {
    box-sizing: border-box;
}

.logo {
    width: 70%;
    height: 5em;
    position: relative;
    left: 8%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info * {
    margin: .2em;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeKol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.timeInfo {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.setTime {
    width: 70%;
}

.setKol {
    width: 70%;
    height: 2em;
}

.timeInput {
    display: flex;
}

textarea {
    border: 1px solid blue;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    border: 1px solid #0077CC;
    color: white;
    background-image: linear-gradient(#42A1EC, #0070C9);
}

.divButtons {
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

#button1 {
    color: black;
    border: 1px solid rgb(204, 204, 25);
    background-image: linear-gradient(yellow, rgb(210, 210, 42));
    font-weight: bold;
}

#button2 {
    border: 1px solid rgb(215, 44, 44);
    background-image: linear-gradient(red, rgb(201, 48, 48));
    font-weight: bold;
}

select {
    border-radius: 4px;
}

.snimi {
    margin: 1em;
    width: 50%;
    background-image: linear-gradient(rgb(48, 200, 48), green);
}

.smjenskiIzvjestaj{
    margin: 1em;
    font-weight: bold;
}
/* ----------tabela */
table,
th,
td {
    border: 1px solid black;
}

/* prva tabela */

.radiliste {
    height: 100%;
    width: 5%;
  
}


.gtn1 {
    height: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: bold;

}

.utrosak {
    height: 100%;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.stacFlex {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stacDiv {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}


.gtn1Div {
    border-bottom: 1px solid black;
}

.bold{
    font-weight: bold;
    overflow: hidden;
}
.rightBorder {
    border-right: 1px solid black;
}

.smjenski {
    width: 100%;
    height: 3em;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 95%;
}

.kojaSmjena {
    padding-left: 1%;
}


.datum {
    padding-right: 2%;
    font-weight: bolder;
}

.numberIn {
    width: 10%;
    text-align: center;
    vertical-align: middle;

}
.line{
    height: 100%;
    border: none;
    border-right: 1px solid black;
}
.textIn {
    text-align: center;
    padding: .3em;
}


.timeIn {
    width: 10%;
    text-align: center;
    vertical-align: middle;

}


.twoInputs {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

#table1 {
    width: 100%;
}

.vrijemeNas {
    width: 5%;
}

.borderRight{
    border-right: 1px solid black;
}

.horiz {
    vertical-align: text-bottom;
}

.noBorderTop {
    height: 2.5em;
    width: 10%;
    vertical-align: top;
    border-top: none;
}

.wordBreak{
    word-break: break-all;
}
.noBorderBotton{
    border-bottom: none;
    vertical-align: bottom;
    width: 10%;
}
.gore {
    width: 100%;
    height: 45%;
    border-bottom: 1px solid black;
}

td input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    height: auto;
}

input {
    width: 100%;
    height: 80%;
}

.noBorder {
    border: none;
}

th {
    height: 2em;
    vertical-align: middle;
    background-color: #c5d9f1;

}

.wid{
    width: 10%;
}

.bigger {
    height: 4em;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

.smaller{
    height: 1.5em;
}
/*  last table */
.eksplozivna {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd9c4;
    border: 2px solid black;
}

.betweenTable {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sameWidth th {
    width: 10em;
}

.yellow {
    background-color: yellow;
    font-weight: bolder;
    text-align: center;
}

.red {
    background: red;
    font: bolder;
    text-align: center;
    color: white;
}

.slump {
    width:100%;
    height: 2em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd9c4;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: none;
}

.slumpDiv{
    background:#ddd9c4 ;
}

.centarDiv {
    width: 100%;
    height: 3em;
    border: 2px solid black;
    background-color: #ddd9c4;
    display: flex;
    text-align: center;
    font-weight: bold;
}

.same {
    flex: 1;
    border-right: 1px solid black;
}

.sameWhite {
    background: #f2f2f2;
}

.mbDiv {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.mb {
    border-right: 1px solid black;
    height: 100%;
    width: 50%;
    text-align: center;
    vertical-align: text-bottom;
}

.legenda {
    position: relative;
    right: 30%;
    margin: 1em;

}


.hidden {
    display: none;
}

@media screen and (min-width: 600px) {

    table,
    .operacija,
    .smjenski,
    #table1,
    .centarDiv,
    .slump,
    .betweenTable
    header {
        width: 80%;
    }

    .logo{
        width: 90%;
        height: 6em;
    }
    header{
        width: 100%;
    }
}




@media print {
    header {
        position: fixed;
        top: 0;
    }
    .listaNapomena{
        page-break-before: always;
    }
      
}


