*{
    box-sizing: border-box;
}

.logo{
    width: 100%;
    height: 8em;
    position: relative;
    left: 8%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info *{
    margin: .2em;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeKol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.timeInfo{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.setTime{
    width: 70%;
}

.setKol{
    width: 70%;
    height: 2em;
}
.timeInput{
    display: flex;
}
/* ----------tabela */
table, th, td{
    border: 1px solid black;
}

.smjenski{
    width: 100%;
    height: 3em;
    border: 2px solid black;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 95%;
}

.kojaSmjena{
    padding-left: 1%;
}

.datum{
    padding-right: 2%;
}
.numberIn{
    width: 10%;
    text-align: center;
    vertical-align: middle;

}

.textIn{
    text-align: center;
    padding: .3em;

}

.timeIn{
    width:10%;
    text-align: center;
    vertical-align: middle;

}

table{
    width: 100%;
    height: auto;
    margin-top: 0em;
    border: 2px solid black;
}

th{
    height: 2.5em;
    vertical-align: middle;
    background-color: #c5d9f1;
    font-weight: bold;
}

.horiz{
    vertical-align: text-bottom;
}

.gore{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
}
td input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
td{
    height: auto;
}
input{
    width: 100%;
    height: 100%;
}
.noBorder{
    border: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

/* Section where the photo is added */

.addPhoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    width: 80%;
}

.addPhoto *{
    margin: .3em;
}

.dodaj{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dodajSliku{
    background-color: green;
    width: 50%;
}

#dodajTekst{
    width: 80%;
}

/* Lista slika sa opisima */

.lista{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center ;
}

#ovde{
    width: 80%;
    height: 50%;
    
}

.naslovDodavanja{
    font-weight: bolder;
}

.prilogNaslov{
    font-weight: bolder;
    margin:.5em;
}

#prilog{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ovdeText{
    margin:.4em;
}

.hidden{
    display:none;
}